# Inside Docker, docker-compose.yml overrides this to use the 'db' service host
DATABASE_URL = 'postgresql://nipunmnndhr:nipun101@localhost:5432/capstone_db'

SECRET_KEY= '9f3c7b2e6d1a4c8f91b0e6d3a7c5f8d2a9c1e4b7d6f0a3c8e5b2d9f1a6c7e4b8'

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60

#un comment it out and paste the api here without leaving any sapce
#SENDGRID_API_KEY= api here