# Inside Docker, docker-compose.yml overrides this to use the 'db' service host, this can be excluded
DATABASE_URL = 'postgresql://user:password@localhost:5432/capstone_db'

SECRET_KEY= 'yourlongrandomsecret'

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=10080

GMAIL_APP_PASSWORD=xxx xxx xxx xxx

ADMIN_USERNAME=admin_panel_username
ADMIN_PASSWORD=your_secure_admin_password
